/*.=class #=ID*/
a,p {/*lista de etiquetas a las que hacemos referencia*/
    font-size: 25px;
}
div a{/*enlaces DENTRO de div*/
    color: burlywood;
}
div#capa1{/*div con id #--*/
    background: chocolate;
}
.letragrande{
    font-size: xx-large;
}
.noSubrayado{
    text-decoration: none;
}
div#capa1 a.encima{
    font-family: monospace;
}
div#capa1 a.encima:hover{
    color: yellow;
    font-size: 35px;
}
/*div#capa1 a.encima:link{
    color: violet;
}
div#capa1 a.encima:visited{
    color: black;
}*/
p#miparrafo:first-line{
    font-size: 20px;
    color: brown;
    font-weight: bold;
}
p#miparrafo::first-letter{
    color: black;
    font-size: 30px;
    text-transform: uppercase;
}
ul#capafinal li:first-child {
    background: blue;
}
ul#capafinal li:last-child {
    background: cadetblue;
}
div#capa1 * {
    font-style: italic;
}
div > a {/*enlaces cuyo padre sea una capa*/
    border: 2px solid black;
}
a[href^=https] {
    text-transform: lowercase;
}
a[href$="pdf"] {
    font-size: xx-small;
}
a[href*="triana"] {
    background: bisque;
}
a[target=_blank] {
    font-size: 60px;
}
div + p {/*parrafos JUSTO despues de una capa*/
    border: 2px dotted red;
}
input:focus {
    border: 5px solid blue; 
}
input:enabled{
    border: 5px solid blue;
}
input:disabled {
    border: 5px solid red;/*indicado en HTML*/
}
input:checked {
    border: 5px solid yellow;
}